# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [15]:
#計算每個不同種類 animal 的 age 的平均數

for i in set(df['animal']):
    #print(i)
    #print(df[df['animal']==i])
    a = df[df['animal']==i]['age'].mean()
    print(i , ":", a)

cat : 2.5
dog : 5.0
snake : 2.5

In [19]:
#將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序

df.sort_values(by=['age','visits'],ascending=[True,False])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [31]:
# 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
a = df['priority'] == 'yes'

df['priotity'] = a

df

  animal  age  visits priority  priotity
a    cat  2.5       1      yes      True
b    cat  3.0       3      yes      True
c  snake  0.5       2       no     False
d    dog  NaN       3      yes      True
e    dog  5.0       2       no     False
f    cat  2.0       3       no     False
g  snake  4.5       1       no     False
h    cat  NaN       1      yes      True
i    dog  7.0       2       no     False
j    dog  3.0       1       no     False

In [32]:
# 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df["priority"]=df["priority"].replace(["yes","no"],[True,False])
print(df)

  animal  age  visits  priority  priotity
a    cat  2.5       1      True      True
b    cat  3.0       3      True      True
c  snake  0.5       2     False     False
d    dog  NaN       3      True      True
e    dog  5.0       2     False     False
f    cat  2.0       3     False     False
g  snake  4.5       1     False     False
h    cat  NaN       1      True      True
i    dog  7.0       2     False     False
j    dog  3.0       1     False     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [42]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.507516  0.368663  0.134582
1  0.156369  0.266211  0.401753
2  0.539871  0.882418  0.961484
3  0.532054  0.691382  0.148913
4  0.082380  0.194137  0.866521

In [43]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [44]:
df.mean()

0    0.363638
1    0.480563
2    0.502651
dtype: float64

In [45]:
#將每個數字減去該欄位的平均數
df - df.mean()

          0         1         2
0  0.143878 -0.111899 -0.368069
1 -0.207268 -0.214351 -0.100898
2  0.176233  0.401856  0.458833
3  0.168416  0.210820 -0.353737
4 -0.281258 -0.286425  0.363870

In [48]:
#將每個數字減去該資料的平均數
df.sub(df.mean(axis=1),axis=0)

          0         1         2
0  0.170595  0.031743 -0.202338
1 -0.118409 -0.008567  0.126975
2 -0.254720  0.087827  0.166893
3  0.074604  0.233932 -0.308536
4 -0.298633 -0.186875  0.485508

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [58]:
#哪一比的資料總合最小
print(df.sum(axis=1))
df.sum(axis=1).argmin()

0    1.010761
1    0.824334
2    2.383773
3    1.372350
4    1.143038
dtype: float64

1

In [60]:
#哪一欄位的資料總合最小
print(df.sum())
df.sum().argmin()

0    1.818190
1    2.402813
2    2.513254
dtype: float64

0